SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/package.json
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/package.json.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/README.md
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/README.md.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Bezi.cs
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Bezi.cs.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Bezi.Editor.asmdef
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Bezi.Editor.asmdef.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Plugins.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Plugins/bezi-websocket-sharp.dll
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Plugins/bezi-websocket-sharp.dll.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Plugins/BeziSidekickInternal.dll
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Plugins/BeziSidekickInternal.dll.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-connected.png
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-connected.png.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-connecting.png
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-connecting.png.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-disconnected.png
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-disconnected.png.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-icon.png
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-icon.png.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-paused.png
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-paused.png.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-connected.png
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-connected.png.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-connecting.png
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-connecting.png.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-disconnected.png
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-disconnected.png.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-icon.png
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-icon.png.meta
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-paused.png
SomeMagicalFairyApothecary/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-paused.png.meta
